# Основы Python

## Подготовка рабочей среды

Сначала установим нужные нам версии библиотек. Мы гарантируем, что в данных версиях задание будет корректно отрабатывать. 

После установки нужных версий нажмите на кнопку Restart runtime, которая появится в следующей ячейке после завершения ее выполнения.

После перезапуска (restart runtime) устанавливать библиотеки еще раз не нужно, достаточно проверить, что установилась их новая версия. 

На скачивание файла и установку понадобится не более 5 минут.

**Важно!** Устанавливать нужные версии нужно каждый раз, когда создается новый рантайм. Например, если вы 2 часа подряд делаете это задание, то подготовить библиотеки достаточно 1 раз. Но если вы, например, начали в понедельник, затем закрыли/выключили ноутбук, то при продолжении в среду, вам нужно будет запустить рантайм заново и следовательно заново установить библиотеки.

**Важно!** Если вы предпочитаете делать практические задания на своем личном ноутбуке, то предлагаем вам завести виртуальное окружение и установить в нем библиотеки из файла requirements.txt по ссылке https://drive.google.com/file/d/1br9tHmdccGVzpk0svXNmHxVMh_OF2oZR/view?usp=sharing
В таком случае виртуальное окружение достаточно настроить всего один раз.

In [1]:
# !!! Данный блок будет работать только в Google-Colab !!!
! gdown 1br9tHmdccGVzpk0svXNmHxVMh_OF2oZR
! pip install -r /content/requirements.txt

Downloading...
From: https://drive.google.com/uc?id=1br9tHmdccGVzpk0svXNmHxVMh_OF2oZR
To: /content/requirements.txt
100% 328/328 [00:00<00:00, 256kB/s]
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting catboost==1.0.6
  Downloading catboost-1.0.6-cp37-none-manylinux1_x86_64.whl (76.6 MB)
     |████████████████████████████████| 76.6 MB 1.6 MB/s
Collecting pytest==7.1.3
  Downloading pytest-7.1.3-py3-none-any.whl (298 kB)
     |████████████████████████████████| 298 kB 52.1 MB/s
Collecting scikit-image==0.19.3
  Downloading scikit_image-0.19.3-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (13.5 MB)
     |████████████████████████████████| 13.5 MB 44.3 MB/s
Collecting h5py==3.7.0
  Downloading h5py-3.7.0-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (4.1 MB)
     |████████████████████████████████| 4.1 MB 35.7 MB/s
Collecting hyperopt==0.2.7
  Downloading hyperopt-0.2.7-py2.py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 50.2 MB/s
Collecting ipywidgets==8.0.2
  Downloading ipywidgets-8.0.2-py3-none-any.whl (134 kB)
     |████████████████████████████████| 134 kB 59.1 MB/s
Collecting keras==2.10.0
  Downloading keras-2.10.0-py2.py3-none-any.whl (1.7 MB)
     |████████████████████████████████| 1.7 MB 54.5 MB/s
Collecting lightgbm==3.3.2
  Downloading lightgbm-3.3.2-py3-none-manylinux1_x86_64.whl (2.0 MB)
     |████████████████████████████████| 2.0 MB 44.2 MB/s
Collecting matplotlib==3.5.3
  Downloading matplotlib-3.5.3-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (11.2 MB)
     |████████████████████████████████| 11.2 MB 44.1 MB/s
Requirement already satisfied: numpy==1.21.6 in /usr/local/lib/python3.7/dist-packages (from -r /content/requirements.txt (line 10)) (1.21.6)
Requirement already satisfied: pandas==1.3.5 in /usr/local/lib/python3.7/dist-packages (from -r /content/requirements.txt (line 11)) (1.3.5)
Collecting plotly==5.6.0
  Downloading plotly-5.6.0-py2.py3-none-any.whl (27.7 MB)
     |████████████████████████████████| 27.7 MB 69.0 MB/s
Requirement already satisfied: scipy==1.7.3 in /usr/local/lib/python3.7/dist-packages (from -r /content/requirements.txt (line 13)) (1.7.3)
Collecting seaborn==0.12.0
  Downloading seaborn-0.12.0-py3-none-any.whl (285 kB)
     |████████████████████████████████| 285 kB 77.4 MB/s
Requirement already satisfied: scikit-learn==1.0.2 in /usr/local/lib/python3.7/dist-packages (from -r /content/requirements.txt (line 15)) (1.0.2)
Requirement already satisfied: torch==1.12.1 in /usr/local/lib/python3.7/dist-packages (from -r /content/requirements.txt (line 16)) (1.12.1+cu113)
Requirement already satisfied: torchvision==0.13.1 in /usr/local/lib/python3.7/dist-packages (from -r /content/requirements.txt (line 17)) (0.13.1+cu113)
Requirement already satisfied: tqdm==4.64.1 in /usr/local/lib/python3.7/dist-packages (from -r /content/requirements.txt (line 18)) (4.64.1)
Collecting umap-learn==0.5.3
  Downloading umap-learn-0.5.3.tar.gz (88 kB)
     |████████████████████████████████| 88 kB 7.5 MB/s
Collecting xgboost==1.6.2
  Downloading xgboost-1.6.2-py3-none-manylinux2014_x86_64.whl (255.9 MB)
     |████████████████████████████████| 255.9 MB 40 kB/s
Collecting pep8==1.7.1
  Downloading pep8-1.7.1-py2.py3-none-any.whl (41 kB)
     |████████████████████████████████| 41 kB 407 kB/s
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost==1.0.6->-r /content/requirements.txt (line 1)) (1.15.0)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost==1.0.6->-r /content/requirements.txt (line 1)) (0.10.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from pytest==7.1.3->-r /content/requirements.txt (line 2)) (21.3)
Requirement already satisfied: importlib-metadata>=0.12 in /usr/local/lib/python3.7/dist-packages (from pytest==7.1.3->-r /content/requirements.txt (line 2)) (4.12.0)
Collecting iniconfig
  Downloading iniconfig-1.1.1-py2.py3-none-any.whl (5.0 kB)
Requirement already satisfied: tomli>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from pytest==7.1.3->-r /content/requirements.txt (line 2)) (2.0.1)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.7/dist-packages (from pytest==7.1.3->-r /content/requirements.txt (line 2)) (22.1.0)
Collecting pluggy<2.0,>=0.12
  Downloading pluggy-1.0.0-py2.py3-none-any.whl (13 kB)
Requirement already satisfied: py>=1.8.2 in /usr/local/lib/python3.7/dist-packages (from pytest==7.1.3->-r /content/requirements.txt (line 2)) (1.11.0)
Requirement already satisfied: PyWavelets>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from scikit-image==0.19.3->-r /content/requirements.txt (line 3)) (1.3.0)
Requirement already satisfied: tifffile>=2019.7.26 in /usr/local/lib/python3.7/dist-packages (from scikit-image==0.19.3->-r /content/requirements.txt (line 3)) (2021.11.2)
Requirement already satisfied: imageio>=2.4.1 in /usr/local/lib/python3.7/dist-packages (from scikit-image==0.19.3->-r /content/requirements.txt (line 3)) (2.9.0)
Requirement already satisfied: pillow!=7.1.0,!=7.1.1,!=8.3.0,>=6.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-image==0.19.3->-r /content/requirements.txt (line 3)) (7.1.2)
Requirement already satisfied: networkx>=2.2 in /usr/local/lib/python3.7/dist-packages (from scikit-image==0.19.3->-r /content/requirements.txt (line 3)) (2.6.3)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from hyperopt==0.2.7->-r /content/requirements.txt (line 5)) (0.16.0)
Collecting py4j
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
     |████████████████████████████████| 200 kB 55.3 MB/s
Requirement already satisfied: cloudpickle in /usr/local/lib/python3.7/dist-packages (from hyperopt==0.2.7->-r /content/requirements.txt (line 5)) (1.5.0)
Collecting widgetsnbextension~=4.0
  Downloading widgetsnbextension-4.0.3-py3-none-any.whl (2.0 MB)
     |████████████████████████████████| 2.0 MB 46.6 MB/s
Requirement already satisfied: ipykernel>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from ipywidgets==8.0.2->-r /content/requirements.txt (line 6)) (5.3.4)
Requirement already satisfied: traitlets>=4.3.1 in /usr/local/lib/python3.7/dist-packages (from ipywidgets==8.0.2->-r /content/requirements.txt (line 6)) (5.1.1)
Requirement already satisfied: jupyterlab-widgets~=3.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets==8.0.2->-r /content/requirements.txt (line 6)) (3.0.3)
Requirement already satisfied: ipython>=6.1.0 in /usr/local/lib/python3.7/dist-packages (from ipywidgets==8.0.2->-r /content/requirements.txt (line 6)) (7.9.0)
Requirement already satisfied: wheel in /usr/local/lib/python3.7/dist-packages (from lightgbm==3.3.2->-r /content/requirements.txt (line 8)) (0.37.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib==3.5.3->-r /content/requirements.txt (line 9)) (0.11.0)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.37.2-py3-none-any.whl (959 kB)
     |████████████████████████████████| 959 kB 46.6 MB/s
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.7/dist-packages (from matplotlib==3.5.3->-r /content/requirements.txt (line 9)) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib==3.5.3->-r /content/requirements.txt (line 9)) (1.4.4)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib==3.5.3->-r /content/requirements.txt (line 9)) (3.0.9)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.3.5->-r /content/requirements.txt (line 11)) (2022.2.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly==5.6.0->-r /content/requirements.txt (line 12)) (8.0.1)
Requirement already satisfied: typing_extensions in /usr/local/lib/python3.7/dist-packages (from seaborn==0.12.0->-r /content/requirements.txt (line 14)) (4.1.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==1.0.2->-r /content/requirements.txt (line 15)) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==1.0.2->-r /content/requirements.txt (line 15)) (3.1.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from torchvision==0.13.1->-r /content/requirements.txt (line 17)) (2.23.0)
Requirement already satisfied: numba>=0.49 in /usr/local/lib/python3.7/dist-packages (from umap-learn==0.5.3->-r /content/requirements.txt (line 19)) (0.56.2)
Collecting pynndescent>=0.5
  Downloading pynndescent-0.5.7.tar.gz (1.1 MB)
     |████████████████████████████████| 1.1 MB 49.5 MB/s
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=0.12->pytest==7.1.3->-r /content/requirements.txt (line 2)) (3.8.1)
Requirement already satisfied: tornado>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets==8.0.2->-r /content/requirements.txt (line 6)) (5.1.1)
Requirement already satisfied: jupyter-client in /usr/local/lib/python3.7/dist-packages (from ipykernel>=4.5.1->ipywidgets==8.0.2->-r /content/requirements.txt (line 6)) (6.1.12)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython>=6.1.0->ipywidgets==8.0.2->-r /content/requirements.txt (line 6)) (4.8.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=6.1.0->ipywidgets==8.0.2->-r /content/requirements.txt (line 6)) (4.4.2)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython>=6.1.0->ipywidgets==8.0.2->-r /content/requirements.txt (line 6)) (57.4.0)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from ipython>=6.1.0->ipywidgets==8.0.2->-r /content/requirements.txt (line 6)) (2.0.10)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=6.1.0->ipywidgets==8.0.2->-r /content/requirements.txt (line 6)) (2.6.1)
Collecting jedi>=0.10
  Downloading jedi-0.18.1-py2.py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 48.3 MB/s
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=6.1.0->ipywidgets==8.0.2->-r /content/requirements.txt (line 6)) (0.7.5)
Requirement already satisfied: backcall in /usr/local/lib/python3.7/dist-packages (from ipython>=6.1.0->ipywidgets==8.0.2->-r /content/requirements.txt (line 6)) (0.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from jedi>=0.10->ipython>=6.1.0->ipywidgets==8.0.2->-r /content/requirements.txt (line 6)) (0.8.3)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /usr/local/lib/python3.7/dist-packages (from numba>=0.49->umap-learn==0.5.3->-r /content/requirements.txt (line 19)) (0.39.1)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython>=6.1.0->ipywidgets==8.0.2->-r /content/requirements.txt (line 6)) (0.2.5)
Requirement already satisfied: jupyter-core>=4.6.0 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets==8.0.2->-r /content/requirements.txt (line 6)) (4.11.1)
Requirement already satisfied: pyzmq>=13 in /usr/local/lib/python3.7/dist-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets==8.0.2->-r /content/requirements.txt (line 6)) (23.2.1)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython>=6.1.0->ipywidgets==8.0.2->-r /content/requirements.txt (line 6)) (0.7.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->torchvision==0.13.1->-r /content/requirements.txt (line 17)) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->torchvision==0.13.1->-r /content/requirements.txt (line 17)) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->torchvision==0.13.1->-r /content/requirements.txt (line 17)) (2022.6.15)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->torchvision==0.13.1->-r /content/requirements.txt (line 17)) (2.10)
Building wheels for collected packages: umap-learn, pynndescent
  Building wheel for umap-learn (setup.py) ... done
  Created wheel for umap-learn: filename=umap_learn-0.5.3-py3-none-any.whl size=82829 sha256=d8055200b66b41aca9757e8007d4bad39883fa4db413b07aedd5b146c2d82d4b
  Stored in directory: /root/.cache/pip/wheels/b3/52/a5/1fd9e3e76a7ab34f134c07469cd6f16e27ef3a37aeff1fe821
  Building wheel for pynndescent (setup.py) ... done
  Created wheel for pynndescent: filename=pynndescent-0.5.7-py3-none-any.whl size=54286 sha256=f3d7d9082df61da44e6ab20dee8b141af1d1e199c105209b39bed043dd1b3123
  Stored in directory: /root/.cache/pip/wheels/7f/2a/f8/7bd5dcec71bd5c669f6f574db3113513696b98f3f9b51f496c
Successfully built umap-learn pynndescent
Installing collected packages: jedi, fonttools, widgetsnbextension, pynndescent, py4j, pluggy, plotly, matplotlib, iniconfig, xgboost, umap-learn, seaborn, scikit-image, pytest, pep8, lightgbm, keras, ipywidgets, hyperopt, h5py, catboost
  Attempting uninstall: widgetsnbextension
    Found existing installation: widgetsnbextension 3.6.1
    Uninstalling widgetsnbextension-3.6.1:
      Successfully uninstalled widgetsnbextension-3.6.1
  Attempting uninstall: pluggy
    Found existing installation: pluggy 0.7.1
    Uninstalling pluggy-0.7.1:
      Successfully uninstalled pluggy-0.7.1
  Attempting uninstall: plotly
    Found existing installation: plotly 5.5.0
    Uninstalling plotly-5.5.0:
      Successfully uninstalled plotly-5.5.0
  Attempting uninstall: matplotlib
    Found existing installation: matplotlib 3.2.2
    Uninstalling matplotlib-3.2.2:
      Successfully uninstalled matplotlib-3.2.2
  Attempting uninstall: xgboost
    Found existing installation: xgboost 0.90
    Uninstalling xgboost-0.90:
      Successfully uninstalled xgboost-0.90
  Attempting uninstall: seaborn
    Found existing installation: seaborn 0.11.2
    Uninstalling seaborn-0.11.2:
      Successfully uninstalled seaborn-0.11.2
  Attempting uninstall: scikit-image
    Found existing installation: scikit-image 0.18.3
    Uninstalling scikit-image-0.18.3:
      Successfully uninstalled scikit-image-0.18.3
  Attempting uninstall: pytest
    Found existing installation: pytest 3.6.4
    Uninstalling pytest-3.6.4:
      Successfully uninstalled pytest-3.6.4
  Attempting uninstall: lightgbm
    Found existing installation: lightgbm 2.2.3
    Uninstalling lightgbm-2.2.3:
      Successfully uninstalled lightgbm-2.2.3
  Attempting uninstall: keras
    Found existing installation: keras 2.8.0
    Uninstalling keras-2.8.0:
      Successfully uninstalled keras-2.8.0
  Attempting uninstall: ipywidgets
    Found existing installation: ipywidgets 7.7.1
    Uninstalling ipywidgets-7.7.1:
      Successfully uninstalled ipywidgets-7.7.1
  Attempting uninstall: hyperopt
    Found existing installation: hyperopt 0.1.2
    Uninstalling hyperopt-0.1.2:
      Successfully uninstalled hyperopt-0.1.2
  Attempting uninstall: h5py
    Found existing installation: h5py 3.1.0
    Uninstalling h5py-3.1.0:
      Successfully uninstalled h5py-3.1.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
tensorflow 2.8.2+zzzcolab20220719082949 requires keras<2.9,>=2.8.0rc0, but you have keras 2.10.0 which is incompatible.
Successfully installed catboost-1.0.6 fonttools-4.37.2 h5py-3.7.0 hyperopt-0.2.7 iniconfig-1.1.1 ipywidgets-8.0.2 jedi-0.18.1 keras-2.10.0 lightgbm-3.3.2 matplotlib-3.5.3 pep8-1.7.1 plotly-5.6.0 pluggy-1.0.0 py4j-0.10.9.7 pynndescent-0.5.7 pytest-7.1.3 scikit-image-0.19.3 seaborn-0.12.0 umap-learn-0.5.3 widgetsnbextension-4.0.3 xgboost-1.6.2

Проверим версию библиотеки:

In [2]:
import xgboost
assert(xgboost.__version__ == '1.6.2')


### Важно! О формате сдачи

* По большей части данный ноутбук является туториалом по азам языка Python3 -- вы можете повыполнять ячейки и посмотреть на их результат, а также протестировать и какой-нибудь свой код
* В конце данного ноутбука описаны задачи, которые сдаются по системе юнит-тестирования (unit-tests)

Теперь можно приступать к выполнению задания! :)

![python_image.png]()

```Введение:``` Этот ноутбук призван систематизировать знания про интерпретируемый язык программирования Python, а также эти знания проверить с помощью домашнего задания.\
Возможностей у Python – огромное количество! Поэтому вместить знания про все фишки и библиотеки в 1 ноутбук – невозможно. Однако все основные факты, которые могут потребоваться в работе, старательно собраны и представлены здесь.\
Python – очень простой и удобный язык. Осторожно! Если вы начнете писать на Python, то потом вам вряд ли захочется перейти на другой язык программирования.\
И еще одно:
**Лучший способ изучить Python – это гуглить [а еще лучше - гуглить на английском]!**\
Почти все непонятные ошибки уже встречались когда-либо на просторах сети, так что StackOverflow и документация – ваши лучшие друзья при программировании на Python и поиске багов.

## Оглавление

>[Основы Python](#scrollTo=4y0tx8T6-_3V)

>>[Оглавление](#scrollTo=Nrm-pWKO-_3b)

>>[Импортирование модулей](#scrollTo=GNjgYv6I-_3c)

>>[Типы данных](#scrollTo=YfaW89Wv-_3l)

>>>[Числа](#scrollTo=lBzoMfGv-_3m)

>>>>[Операции над числами](#scrollTo=mGdq8VjK-_3y)

>>>[Списки](#scrollTo=eJATW-Rg-_3z)

>>>>[Создание списков](#scrollTo=9zKbY2HO-_36)

>>>>[Индексация](#scrollTo=snN5jN_8-_39)

>>>>[Срезы](#scrollTo=c9ePYcgL-_3_)

>>>>[Методы и функции для работы со списками](#scrollTo=hf9NYsJ_-_4D)

>>>[Строки](#scrollTo=Bmv3uZdj-_4Y)

>>>>[Полезные функции для работы со строками](#scrollTo=suBB-s4H-_4e)

>>>>[Связь со списками](#scrollTo=-OG425li-_4j)

>>>>[f-строки](#scrollTo=TCY7MKbX-_4k)

>>>[Кортежи](#scrollTo=eE95F3jb-_4o)

>>>[Словари](#scrollTo=30fKxmXD-_4r)

>>>>[Итерация по словарю](#scrollTo=_33nLeUJ-_4y)

>>>>[defaultdict](#scrollTo=yqZrXv-J-_4z)

>>>>[OrderedDict](#scrollTo=w9ZY8Plx-_4z)

>>>[Множества](#scrollTo=whUdeiGg-_41)

>>>>[Неизменяемые множества](#scrollTo=cC6mGisx-_42)

>>>>[Операции с множествами](#scrollTo=kKx-X-OD-_43)

>>>[Логический тип](#scrollTo=QwzuhUq--_47)

>>[Конструкции](#scrollTo=ioDiNE2r-_49)

>>[Циклы](#scrollTo=Vt08uyX6-_4-)

>>>>[Цикл for](#scrollTo=Thyhvupk-_4-)

>>>>[Цикл while](#scrollTo=AEaTFlc1-_5E)

>>[Условия](#scrollTo=YAxCA81S-_5J)

>>[Функции](#scrollTo=giLAoO_l-_5J)

>>>[lambda-функции](#scrollTo=Du610vss-_5N)

>>>[Области видимости](#scrollTo=vhUn3xty-_5P)

>>>[Генераторы](#scrollTo=d23pSJ2S-_5V)

>>[Классы (ООП)](#scrollTo=4WB5qniE-_5W)

>>>[Может пригодиться](#scrollTo=uy8pitN1-_5b)

>>[Домашнее задание](#scrollTo=QHLejCbX-_5d)

>>>[Задача № 1](#scrollTo=8auzJuMy-_5d)

>>>[Задача № 2](#scrollTo=4sWUzU84-_5e)

>>>[Задача № 3](#scrollTo=qKQ2QIwz-_5f)

>>>[Задача № 4](#scrollTo=3y403V3r-_5f)

>>>[Задача № 5](#scrollTo=3924OseJ-_5h)

>>>[Задача № 6](#scrollTo=ks54YrbK-_5l)

>>>[Задача № 7](#scrollTo=0bLZ_Db6-_5m)

## Импортирование модулей <a class="anchor" id="import"></a>

```Справка из документации```:\
**Что делает import?**

При импорте модуля Python выполняет весь код в нём. При импорте пакета Python выполняет код в файле пакета ```__init__.py```, если такой имеется. Все объекты, определённые в модуле или ```__init__.py```, становятся доступны импортирующему.

Вот как оператор ```import``` производит поиск нужного модуля или пакета согласно документации Python:

При импорте модуля ```spam``` интерпретатор сначала ищёт встроенный модуль с таким именем. Если такого модуля нет, то идёт поиск файла ```spam.py``` в списке директорий, определённых в переменной ```sys.path```.\
```sys.path``` инициализируется из следующих мест:

* директории, содержащей исходный скрипт (или текущей директории, если файл не указан);
* директории по умолчанию, которая зависит от дистрибутива Python;
* ```PYTHONPATH``` (список имён директорий; имеет синтаксис, аналогичный переменной окружения ```PATH```).

Программы могут изменять переменную ```sys.path``` после её инициализации. Директория, содержащая запускаемый скрипт, помещается в начало поиска перед путём к стандартной библиотеке. Это значит, что скрипты в этой директории будут импортированы вместо модулей с такими же именами в стандартной библиотеке.

```Для чего это нужно и где используется```:
В языке программирования Python есть большое количество встроенных библиотек, а также очень полезных сторонних библиотек (numpy, pandas - речь о которых пойдет дальше в курсе).\
Чтобы воспользоваться функцией из библиотеки, нужно ее импортировать.\
Рассмотрим на примере библиотеки random и функций randint для генерации целых чисел из промежутка и uniform для генерации вещественных чисел из промежутка.

In [ ]:
# импортировали библиотеку
import random
random.seed(42) # можно зафиксировать зерно случайности, чтобы результаты воспроизводились при разных запусках
# теперь функция randint доступна через синтаксис . библиотеки random
random.randint(1, 4)

1

In [ ]:
# можно импортировать с использованием алиаса
import random as rm
# теперь функция randint доступна через синтаксис . алиаса rm библиотеки random
rm.randint(1, 4)

1

```Интересный факт```: Для популярных библиотек есть общепринятые алиасы: к примеру, ```numpy``` – ```np```, ```pandas``` – ```pd```.\
(алиас ```rm``` для библиотеки ```random``` общепринятым не является)

In [ ]:
# из библиотеки можно импортировать любой объект
from random import randint
# теперь функция randint доступна без синтаксиса . и названия библиотеки/алиаса
randint(1, 4)

3

In [ ]:
# если надо импортировать несколько объектов, можно перечислить их через запятую
#  - в одну строку
from random import randint, uniform
print(randint(1, 4), uniform(0, 1))
#  - в несколько строк
from random import (
    randint, 
    uniform
)
print(randint(1, 4), uniform(0, 1))

2 0.22321073814882275
1 0.6766994874229113

In [ ]:
# from random import * # опасная конструкция, потому что встроенные функции могут перетереться; так не надо делать!
# (тогда ВСЕ функции из random станут доступны без названия библиотеки/алиаса)

# Рассмотрим на примере библиотеки для работы с векторными операциями numpy
# к примеру, np.sum - функция суммирования массива из numpy перетрет встроенную функцию суммирования sum
# np.max перекроет встроенную функцию max

In [ ]:
import numpy as np
np.max, max

(<function numpy.amax(a, axis=None, out=None, keepdims=<no value>, initial=<no value>, where=<no value>)>,
 <function max>)

In [ ]:
from numpy import max
np.max, max

(<function numpy.amax(a, axis=None, out=None, keepdims=<no value>, initial=<no value>, where=<no value>)>,
 <function numpy.amax(a, axis=None, out=None, keepdims=<no value>, initial=<no value>, where=<no value>)>)

In [ ]:
del max # так можно удалить переопределение

In [ ]:
np.max, max

(<function numpy.amax(a, axis=None, out=None, keepdims=<no value>, initial=<no value>, where=<no value>)>,
 <function max>)

Также можно импортировать пользовательские модули с использованием того же синтаксиса.

Если есть пользовательский модуль ```task``` в директории с текущим скриптом, то он импортируется так:
```python 
import task
```
либо другие конструкции, перечисленные выше. (from, as)


Если есть директория ```task``` в директории с текущим скриптом, а в директории ```task``` есть модуль ```lesson```, то он импортируется так:
```python 
import task.lesson
```
либо другие конструкции, перечисленные выше.

Если вы импортируете пользовательский модуль ```task``` и производите в нем изменения, то для того чтобы эти изменения попробовать, не обязательно перезапускать интерпретатор python, если в нем ранее был произведен импорт модуля ```task```.\
Можно использовать следующую конструкцию:
```python 
import importlib

importlib.reload(module) # module - название модуля (строка)
```
Например:
```python 
importlib.reload("task")
```
Такая конструкция загрузит все изменения, которые произошли в модуле task, и их можно будет далее использовать в интерпретаторе.

Ссылка на документацию python: https://docs.python.org/3/reference/import.html \
Там можно найти информацию и про другие типы данных и связанные с ними методы, воспользовавшись поиском.

## Типы данных <a class="anchor" id="types"></a>

В языке Python есть несколько стандартных типов данных:

* Numbers (числа)
* Strings (строки)
* Lists (списки)
* Dictionaries (словари)
* Tuples (кортежи)
* Sets (множества)
* Boolean (логический тип данных)

### Числа <a class="anchor" id="ints"></a>

```Важно: ``` Числа в python – неизменяемый тип данных!

Создаем число 1. Целые числа в питоне имеют тип ```int```.

In [ ]:
x = 1 # создали число
x # вывели число (если в конце ячейки пишем переменную, то выводится ее значение на экран)

1

In [ ]:
type(x) # вывели тип числа

int

Кроме того, можно создавать числа типа ```float```, ```complex```.\
Можно производить операцию приведения типов между числами типа ```float``` и ```int```.\
Числа типа ```complex``` нельзя конвертировать в ```float```/```int``` (обратная операция возможна).

In [ ]:
float(x), type(float(x)) # float(x) - приводим переменную x к типу float

(1.0, float)

In [ ]:
f = 0.1
f, type(f)

(0.1, float)

In [ ]:
int(f), type(int(f))

(0, int)

In [ ]:
c = 1 + 0.1j
c, type(c) # здесь j означает минимую часть числа (то есть i в привычном представлении)

((1+0.1j), complex)

In [ ]:
complex(x), type(complex(x))

((1+0j), complex)

In [ ]:
complex(f), type(complex(f))

((0.1+0j), complex)

Для комплексных чисел встроенная функция abs посчитает модуль корректно.

In [ ]:
abs(c)

1.004987562112089

Создадим второе целое число, равное так же 1, чтобы понять, как числа хранятся в памяти.

In [ ]:
y = 1

In [ ]:
id(x), id(y) # id(...) - возвращает адрес переменной

(11256064, 11256064)

Заметим, что у данных двух чисел адреса совпадают; это значит, что число 1 хранится в памяти 1 раз и обе переменные x и y ссылаются на один и тот же адрес в памяти.

In [ ]:
id(x) == id(y)

True

In [ ]:
x is y # оператор is сравнивает id переменных (x is y эквивалетно id(x) == id(y))

True

Можно произвести inplace-операцию над числом. Тогда значение переменной изменится.

In [ ]:
x += 10
x # значение переменной x изменилось (переменная стала указывать на другой объект в памяти)

11

In [ ]:
y # значение переменной y не изменилось

1

In [ ]:
id(x), id(y) # теперь переменные x и y указывают на разные объекты в памяти (11 и 1)

(11256384, 11256064)

In [ ]:
x is y # соответственно их id не совпадают

False

Проверим, для каких чисел верно описанное ранее (что переменные, содержащие одинаковые значения, указывают на значение, лежащее по одному адресу).

In [ ]:
x = 256
y = 256
x is y

True

In [ ]:
x = 257
y = 257
x is y

False

In [ ]:
x = -5
y = -5
x is y

True

In [ ]:
x = -6
y = -6
x is y

False

Как видно, данный тип оптимизации (хранение одного числа на несколько переменных) происходит для чисел из отрезка $[-5, 256]$.

#### Операции над числами

**Бинарные:**

* ```python 
x + y # сложение
``` 
* ```python 
x - y # вычитание
``` 
* ```python 
x / y # деление
``` 
* ```python 
x * y # умножение
```
* ```python 
x // y # целая часть от деления
```
* ```python 
x % y # остаток от деления
```
* ```python 
x ** y # возведение в степень
```

**Бинарные битовые:**

* ```python 
x & y # и (and)
``` 
* ```python 
x | y # или (or)
``` 
* ```python 
x ^ y # исключающее или (xor)
``` 
* ```python 
x >> y # побитовый сдвиг вправо
``` 
* ```python 
x << y # побитовый сдвиг влево
``` 

**Унарные:**

* ```python 
y = ~x # инвертирование
```
* ```python 
y = -x # унарный минус
```
* ```python 
y = +x # унарный плюс
```


Все бинарные операции могут быть inplace (к знаку операции спереди приписывается =).\
Кроме того, все математические методы можно переопределять с помощью сооветсствующих методов класса. Несколько стандартных названий: 
* ```python 
__pos__ # унарный плюс
```
* ```python 
__neg__ # унарный минус
```
* ```python 
__add__ # сложение
```
* ```python 
__radd__ # коммутативное сложение
```
* ```python 
__rsub__ # коммутативное вычитание
```

```Интересный факт:``` Унарные операторы можно повторять и комбинировать сколько угодно раз.

In [ ]:
++-++-+---+--++-++-+1, -~-~-~-~-~-~-~-~-~-~1

(-1, 11)

Про унарные операторы и переменную _ можно подробнее прочитать здесь: https://habr.com/ru/post/349776/

### Списки <a class="anchor" id="lists"></a>

```Важно: ``` Списки в python – изменяемый тип данных!

Создадим список, содержащий числа 1, 2, 3.

In [ ]:
lst = [1, 2, 3] # [] - специальная конструкция, обозначающая тип list
lst, type(lst)

([1, 2, 3], list)

In [ ]:
a = [1, 2, 3]
b = a
a, b

([1, 2, 3], [1, 2, 3])

In [ ]:
a is b, id(a), id(b) # переменные а и b указывают на 1 объект в памяти

(True, 139932550950736, 139932550950736)

Изменим нулевой элемент в списке a.\
Поскольку объект b был создан с помощью операции =, то переменные a и b указывают на 1 объект в памяти, поэтому они изменения над a отображаются и над b.

In [ ]:
a[0] = 4 # индексация в списках начинается с нуля
a, b

([4, 2, 3], [4, 2, 3])

In [ ]:
a is b, id(a), id(b)

(True, 139932550950736, 139932550950736)

Конечно, если объекты a и b будут иметь одинаковые значения, но будут оба созданы с помощью конструктора списков, такого не произойдет.

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]
a, b

([1, 2, 3], [1, 2, 3])

In [ ]:
a is b

False

In [ ]:
a[0] = 4
a, b

([4, 2, 3], [1, 2, 3])

Чтобы избежать такой ситуации, в которой объект b меняется одновременно с объектом a, потребуется использовать функцию copy или deepcopy.\
**Осторожно: в этом месте можно с большой вероятностью словить баг, если не вспомнить про copy/deepcopy. Тогда 2 объекта будут меняться одновеременно, а этого не всегда хочется.**

In [ ]:
a = [1, 2, 3]
b = a.copy()
a, b

([1, 2, 3], [1, 2, 3])

In [ ]:
a is b

False

In [ ]:
a[0] = 4
a, b

([4, 2, 3], [1, 2, 3])

Как видим, для списка глубины 1 (не содержащего списки, а содержащего числа) copy сработал. \
А что будет для списков, содержащих в себе списки?

In [ ]:
a = [[1, 2, 3], [1, 2, 3]]
b = a.copy()
a, b

([[1, 2, 3], [1, 2, 3]], [[1, 2, 3], [1, 2, 3]])

In [ ]:
a[0] = [4]
a, b

([[4], [1, 2, 3]], [[1, 2, 3], [1, 2, 3]])

In [ ]:
a[1][0] = 5
a, b

([[4], [5, 2, 3]], [[1, 2, 3], [5, 2, 3]])

Как видим, copy не защищает вложенные списки от нежелательного копирования. \
Для того, чтобы этого избежать, используем ```deepcopy``` - эта функция вернет глубокую копию объекта (тогда как copy вернет поверхностную копию).

In [ ]:
from copy import deepcopy

In [ ]:
a = [[1, 2, 3], [1, 2, 3]]
b = deepcopy(a)
a, b

([[1, 2, 3], [1, 2, 3]], [[1, 2, 3], [1, 2, 3]])

In [ ]:
a[0] = [4]
a, b

([[4], [1, 2, 3]], [[1, 2, 3], [1, 2, 3]])

In [ ]:
a[1][0] = 5
a, b

([[4], [5, 2, 3]], [[1, 2, 3], [1, 2, 3]])

#### Создание списков

Ранее мы научились создавать списки с использованием $[]$. Как еще можно создать список?

In [ ]:
a = [1, 2, 3, 4, 5]
a

[1, 2, 3, 4, 5]

```range(...)``` создает объект типа генератор, который позволяет итерироваться по числам в заданном промежутке (не учитывая верхнюю границу промежутка и учитывая нижнюю) с некоторым шагом. По умолчанию значение шага равно 1, значение нижней границы равно 0.

Есть несколько вариантов вызова range:

* ```range(STOP)```  принимает 1 аргумент
* ```range(START, STOP)```  принимает 2 аргумента
* ```range(START, STOP, STEP)```  принимает 3 аргумента

Ключевое слово ```list``` - название типа - позволяет сконвертировать генератор в список.

In [ ]:
b = list(range(6)) 
b

[0, 1, 2, 3, 4, 5]

In [ ]:
b = list(range(1, 6)) 
b

[1, 2, 3, 4, 5]

In [ ]:
b = list(range(1, 6, 2)) 
b

[1, 3, 5]

Можно использовать так же так называемые ```list-comprehensions```, которые выглядят следующим образом.

In [ ]:
c = [i for i in range(1, 6)]
c

[1, 2, 3, 4, 5]

#### Индексация

In [ ]:
a = [i for i in range(10)]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
a[0], a[5], a[9] # берем элемент по некоторому индексу (напомним, что индексация идет с 0!!!)

(0, 5, 9)

In [ ]:
a[10] # нельзя безопасно выйти за границы списка

IndexError: ignored

Также можно индексироваться с использованием отрицательных индексов. Индекс -1 означает команду взять последний элемент списка, -2 - второй элемент с конца и т.д.

In [ ]:
a[-1], a[-5], a[-9]

(9, 5, 1)

In [ ]:
a[-11] # в этом случае тоже можно выйти за границы списка и получить исключение

IndexError: ignored

#### Срезы

```Срез``` – конструкция, которая используется для взятия части списка.

Всего у среза три параметра:

* ```START``` — индекс первого элемента в выборке,
* ```STOP``` — индекс элемента списка, перед которым срез должен закончиться (сам элемент с индексом STOP не будет входить в выборку),
* ```STEP``` — шаг прироста выбираемых индексов.

Каждый из параметров может принимать любое целое значение (даже отрицательное!).

Рассмотрим примеры работы срезов.

In [ ]:
a[:3]

[0, 1, 2]

In [ ]:
a[5:]

[5, 6, 7, 8, 9]

In [ ]:
a[2:4]

[2, 3]

In [ ]:
a[4:9:2]

[4, 6, 8]

In [ ]:
a[::-1] # перевернули список (reverse)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

Заметим также, что если присвоить некоторой переменной срез от списка a, то новая переменная и переменная a будут указывать на разные объекты в памяти, то есть делать ```copy``` не нужно.

In [ ]:
b = a[:3]
b

[0, 1, 2]

In [ ]:
a[0] = 4
a, b

([4, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2])

In [ ]:
b[1] = 7
a, b

([4, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 7, 2])

In [ ]:
b = a[:] # такая конструкция аналогична copy

#### Методы и функции для работы со списками

Конструктор.

In [ ]:
a = list(range(5))
a

[0, 1, 2, 3, 4]

Длина списка.

In [ ]:
len(a)

5

Добавление элемента в конец списка.\
inplace-операция, возвращает ```None``` (специальное значение в Python, означающее нулевой указатель).

In [ ]:
a.append(6)
a

[0, 1, 2, 3, 4, 6]

Добавление нескольких элементов в конец списка сразу.\
inplace-операция, возвращает ```None```.

In [ ]:
a.extend([7, 8, 9])
a

[0, 1, 2, 3, 4, 6, 7, 8, 9]

Добавление элемента в список на некоторую позицию.\
inplace-операция, возвращает ```None```.

In [ ]:
a.insert(3, 31)
a

[0, 1, 2, 31, 3, 4, 6, 7, 8, 9]

Удаление элемента из списка.\
inplace-операция, возвращает ```None```.

In [ ]:
a.remove(31)
a

[0, 1, 2, 3, 4, 6, 7, 8, 9]

Сложение списков (не inplace-операция).

In [ ]:
b = [10, 11, 12]
a + b

[0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12]

Можно сделать сложение списков inplace-операцией.

In [ ]:
a += b
a

[0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12]

Вычесть списки нельзя.

In [ ]:
a - b

TypeError: ignored

Можно умножить список на любое целое число (обозначим это число через n).\
Тогда получится новый список, содержащий в себе все числа исходного списка, повторенные n раз.

In [ ]:
a = [1, 2, 3]
a * 5

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

Посмотрим подробнее, что произойдет при умножении списка на число.

Если создать список так, как показано ниже, то каждый из внутренних списков будет указывать на 1 объект в памяти.

In [ ]:
a = [[0] * 4] * 5
a

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

Таким образом при изменении одного из элементов вложенного списка, соответствующие элементы остальных вложенных списков тоже поменяются, что вряд ли является желаемым эффектом.

In [ ]:
a[0][0] = 3
a

[[3, 0, 0, 0], [3, 0, 0, 0], [3, 0, 0, 0], [3, 0, 0, 0], [3, 0, 0, 0]]

Аналогичный пример.

In [ ]:
b = [[]] * 3
b[0].append(5)
b

[[5], [5], [5]]

Как же правильно создать двумерный список? А вот так!

In [ ]:
c = [[] for _ in range(3)]
c[0].append(5)
c

[[5], [], []]

Можно отсортировать список, с помощью inplace-метода ```sort```, который возращает ```None```.

In [ ]:
a = [3, 2, 4, 5]
a

[3, 2, 4, 5]

In [ ]:
a.sort()
a

[2, 3, 4, 5]

Можно отсортировать список с помощью встроенной функции ```sorted``` (по умолчанию идет сортировка по возрастанию).

In [ ]:
b = [3, 2, 4, 5]
b

[3, 2, 4, 5]

In [ ]:
sorted(b), b

([2, 3, 4, 5], [3, 2, 4, 5])

Можно отсортировать список по убыванию.

In [ ]:
sorted(b, reverse=True), b

([5, 4, 3, 2], [3, 2, 4, 5])

Можно просуммировать элементы списка.

In [ ]:
a = [1, 2, 3]
sum(a)

6

```Интересный факт```: у функции ```sum``` есть второй аргумент, который означает инициализацию переменной суммы и по умолчанию равен нулю.

In [ ]:
a = [1, 2, 3]
sum(a, 6)

12

Можно развернуть список.

In [ ]:
a.reverse()
a

[3, 2, 1]

In [ ]:
reversed(a), list(reversed(a))

(<list_reverseiterator at 0x7f4495f82f90>, [1, 2, 3])

```map``` помогает применить функцию ко всем элементам списка сразу.

In [ ]:
type('1'), type(int('1'))

(str, int)

In [ ]:
a = ['1', '2', '3']

In [ ]:
map(int, a) # возвращается объект-генератор типа map, поэтому нужно сделать из него список одним из описанных способов

In [ ]:
[i for i in map(int, a)]

[1, 2, 3]

In [ ]:
list(map(int, a))

[1, 2, 3]

```filter``` возвращает только те элементы списка, которые удовлетворяют указанной функции.

In [ ]:
a = [i for i in range(10)]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
def f(x):
    return x < 5
list(filter(f, a))

[0, 1, 2, 3, 4]

Красивее сделать это с помощью ```lambda```-функции (про них будет написано далее).

In [ ]:
filter(lambda x: x < 5, a)

In [ ]:
list(filter(lambda x: x < 5, a)) # подробнее про lambda функции далее

[0, 1, 2, 3, 4]

```index``` - возвращает индекс первого элемента в списке с таким значением (наименьший индекс такой, что значение по этому индексу равно заданному числу).

In [ ]:
a = [13, 15, 2, 4, 7, 15]
a.index(15)

1

In [ ]:
a.index(1) # если элемента в списке нет, то сгенерируется исключение

ValueError: ignored

Вхождение элемента в список.

In [ ]:
a = [1, 2, 3]
1 in a, 2 in a, 3 in a, 4 in a, 1 not in a, 2 not in a, 3 not in a, 4 not in a

(True, True, True, False, False, False, False, True)

Оператор zip.

In [ ]:
# zip берет одновременно последовательно эдементы из списков, заканчивая работу на длине более короткого списка
for x, y, z in zip([1, 2, 3], [4, 5], [7, 8, 9, 10]): 
    print(x, y, z)

1 4 7
2 5 8

**starred** expression

In [ ]:
# оператор * разворачивает список в последовательность чисел
print([1, 2, 3], *[1, 2, 3])

[1, 2, 3] 1 2 3

Данное свойство пригодится позже при рассмотрении передачу в функцию последовательности неименованных аргументов (`args`). А пока рассмотрим такой пример:

In [ ]:
a = [(1, 'a'), (2, 'b'), (3, 'c')]
x, y = zip(*a)
x, y

((1, 2, 3), ('a', 'b', 'c'))

In [ ]:
print(*a) # ну а как работает zip рассмотрели выше

(1, 'a') (2, 'b') (3, 'c')

### Строки <a class="anchor" id="strs"></a>

```Важно: ``` Строки в python – неизменяемый тип данных!

Можно задавать строки в одинарных и двойных кавычках, а также в тройных кавычках (тогда объект типа строка может объявляться в несколько строк кода).

In [ ]:
s = "123" 
s

'123'

In [ ]:
s = '123'
s

'123'

In [ ]:
s = """
this string consists
of several lines
"""
s

'\nthis string consists\nof several lines\n'

In [ ]:
s = '''
this string consists
of several lines
'''
s

'\nthis string consists\nof several lines\n'

In [ ]:
print(s)

this string consists
of several lines

In [ ]:
print(s.__repr__())

'\nthis string consists\nof several lines\n'

In [ ]:
print(s.__str__())

this string consists
of several lines

```Интересный факт```: если написать имя переменной в конце клетки jupyter notebook и если подать ее в качестве аргумента функции print, то вывод получится разным.\
Не вдаваясь в подробности, это связано с тем, что в этих ситуациях вызываются разные методы (а именно ```__repr__``` и ```__str__``` объекта).

Как уже было понятно ранее, можно создавать комментарии с помощью специального занка ```#```. Также строка, объявленная с помощью тройных кавычек, является комментарием.

In [ ]:
s = "123"
"""
this is a long comment
made up of several lines
"""
# this is one line comment
s

'123'

Строка состоит из символов, по ним можно проитерироваться (поэтому можно обращаться к элементам строки по индексу).

In [ ]:
for sym in s:
    print(sym)

1
2
3

У строки так же, как и у списка, можно получить длину (число символов в строке).

In [ ]:
len(s)

3

Поскольку строка является неизменяемым типом данных, то присвоить ее элементу новое значение нельзя.

In [ ]:
s[0] = 4

TypeError: ignored

Можно приписать символ к концу строки, однако при этом будет создана новая строка.

In [ ]:
s += '4'
s

'1234'

По умолчанию, интернируются (то есть указывают на одну область памяти) строки, которые содержат только ASCII-символы, цифры и знак подчеркивания, в остальных случаях, даже если строки одинаковые, будет создаваться новый объект

In [ ]:
s = '123'
c = '123'
s is c

True

In [ ]:
s = "123!"
c = "123!"
s is c

False

#### Полезные функции для работы со строками

Все описанные операции не меняют исходную строку, а возвращают новую строку!

In [ ]:
s = "      I love machine learning       "
s

'      I love machine learning       '

Убрать все пробельные символы слева и справа.

In [ ]:
s.lstrip()

'I love machine learning       '

In [ ]:
s.rstrip()

'      I love machine learning'

Убрать все пробельные символы с обеих сторон (только крайние!).

In [ ]:
s.strip()

'I love machine learning'

Заменить все вхождения одной подстроки на другую подстроку.

In [ ]:
s.replace(' ', '')

'Ilovemachinelearning'

In [ ]:
s = s.strip()

Найти первую поизицию, по которой расположен символ.

In [ ]:
s.find('e') # s[5] == 'e'

5

In [ ]:
s.find(':') # если такого символа в строке нет, то возвращается -1

-1

Строки можно сложить.

In [ ]:
s1 = "I love "
s2 = "machine learning"
s1 + s2

'I love machine learning'

А вычесть нельзя.

In [ ]:
s1 - s2

TypeError: ignored

Можно привести строку к некоторому регистру.

In [ ]:
s = 'aaaAAAAAaaa'
s

'aaaAAAAAaaa'

In [ ]:
s.lower()

'aaaaaaaaaaa'

In [ ]:
s.upper()

'AAAAAAAAAAA'

Можно взять срез у строки (как и у списка).

In [ ]:
s = "1234567"
s[:3] # подробнее про срезы в разделе со списками

'123'

Можно проверить наличие подстроки в строке.

In [ ]:
"234" in s

True

Можно посчитать количество вхождений элемента в строку.

In [ ]:
s = "122333"
s.count("1"), s.count("2"), s.count("3")

(1, 2, 3)

#### Связь со списками

Строку можно поделить по некоторой подстроке и получить список.

In [ ]:
a = "Hello everyone it is machine learning"
b = a.split(' ')
b

['Hello', 'everyone', 'it', 'is', 'machine', 'learning']

In [ ]:
a = 'I love machine learning\n and maths\t'
a

'I love machine learning\n and maths\t'

In [ ]:
a.split() # по умолчанию разделение происходит по всем пробельным символам.

['I', 'love', 'machine', 'learning', 'and', 'maths']

Так же можно соединить список обратно в строку с помощью некоторой подстроки.

In [ ]:
' '.join(b)

'Hello everyone it is machine learning'

In [ ]:
' $ '.join(b)

'Hello $ everyone $ it $ is $ machine $ learning'

#### f-строки

Полезными для красивого вывода (и не только!) могут быть f-строки (format для второго Python).\
Их синтаксис такой:

In [ ]:
age = 21
name = 'Sasha'

print(f'My name is {name} and I am {age}.')

My name is Sasha and I am 21.

Так это выглядело в более ранних версиях, но теперь использовать это не нужно; лучше пользоваться f-строками.

In [ ]:
print('My name is {} and I am {}.'.format(name, age))

My name is Sasha and I am 21.

При выводе вещественных чисел с помощью f-строк можно их округлять.

In [ ]:
x = 1.2345
print(f'full x = {x}, truncated x = {x:.3f}')

full x = 1.2345, truncated x = 1.234

Большие числа можно выводить в разных форматах, например:

In [ ]:
big_num = 1234567890
print(f'first: {big_num:_}, second: {big_num:,}')

first: 1_234_567_890, second: 1,234,567,890

Также можно выводить проценты (и при этом указывать точность).

In [ ]:
p = 0.23456789
print(f'percentage = {p:.3%}')

percentage = 23.457%

Можно задавать ширину поля для вывода числа.

In [ ]:
x, y, z = 1, 12, 123
print(f'{x:>3}\n{y:>3}\n{z:>3}')

  1
 12
123

In [ ]:
x, y, z = 1, 12, 123
print(f'{x:<3}\n{y:<3}\n{z:<3}')

1
12
123

А еще можно выводить даты в красивом формате.

In [ ]:
import datetime
now = datetime.datetime.now()
print(now) # полный формат без f-строк, хочется научиться его обрезать до нужной точности

2022-09-02 07:05:09.029347

In [ ]:
print(f'{now:%Y-%m-%d}')
print(f'{now:%Y-%m-%d %H:%M:%S}')

2022-09-02
2022-09-02 07:05:09

### Кортежи <a class="anchor" id="tuples"></a>

```Важно: ``` Кортежи в python – неизменяемый тип данных!

In [ ]:
a = (1, "23", [1, 2])
a # кортежи могут содержать элементы разных типов (как и списки)

(1, '23', [1, 2])

In [ ]:
a[0] = 2

TypeError: ignored

In [ ]:
a = (1, 2, 3, 4, 5)
a, type(a), len(a)

((1, 2, 3, 4, 5), tuple, 5)

In [ ]:
a = tuple([1, 2, 3, 4, 5])
a, type(a), len(a)

((1, 2, 3, 4, 5), tuple, 5)

Данные в кортеже хранятся более сжато, чем в списке.

In [ ]:
lst = [1, 2, 3, 4, 5]
lst.__sizeof__()

80

In [ ]:
tup = (1, 2, 3, 4, 5)
tup.__sizeof__()

64

Кортежи поддерживают срезы (как списки и строки); индексация идет так же, как и в списках.

In [ ]:
tup[1:3], tup[0]

((2, 3), 1)

Кортежи можно складывать.

In [ ]:
t1 = (1, 2, 3)
t2 = (4, 5)
t1 + t2

(1, 2, 3, 4, 5)

Но нельзя вычитать.

In [ ]:
t1 - t2

TypeError: ignored

Так же, как и в списках, можно получить индекс некоторого элемента.

In [ ]:
t = (23, 45, 23, 6)
t.index(23)

0

In [ ]:
t.index(7)

ValueError: ignored

In [ ]:
23 in t # проверка вхождения с помощью in

True

### Словари <a class="anchor" id="dicts"></a>

```Важно: ``` Словари в python – изменяемый тип данных!

Словарь (```dict```) представляет собой структуру данных, предназначенную для хранения произвольных объектов с доступом по ключу.\
Данные в словаре хранятся в формате ключ – значение.\
В списке, например, доступ к элементам осуществляется по индексу, который представляет собой целое число. В словаре аналогом индекса является ключ, его созданием занимается разработчик.

In [ ]:
d = {}
d, type(d)

({}, dict)

Словарь в Python - это объект, который сопоставляет ключи со значениями, где ключи **уникальны** в пределах коллекции, а значения могут содержать **любое произвольное** значение. Помимо уникальности ключи также должны быть **хешируемыми**.

Объект называется хэшируемым, если от него можно взять хэш (специальное значение) с помощью встроенной функции ```hash```. Хэш-значения являются целыми числами.

In [ ]:
hash("123") # строка хэшируется

-8233196363339217306

In [ ]:
hash([1, 2, 3]) # список не хэшируется

TypeError: ignored

Большинство неизменяемых встроенных объектов Python являются хешируемыми и имеют хеш-значение.\
**Изменяемые контейнеры, такие как списки или словари, не имеют хеш-значений**

Создадим словарь для примера. Через запятую в словаре указаны пары ключ:значение.

In [ ]:
d = {'cat':"miao", "dog":"gav", "pig":"hru"}
d

{'cat': 'miao', 'dog': 'gav', 'pig': 'hru'}

Можно создать словарь и так.

In [ ]:
d = dict.fromkeys(["cat", "dog", "pig"], "")
d

{'cat': '', 'dog': '', 'pig': ''}

А еще вот так.

In [ ]:
d = dict(cat="miao", dog="gav", pig="hru")
d

{'cat': 'miao', 'dog': 'gav', 'pig': 'hru'}

И вот так.

In [ ]:
d = dict((('cat', "miao"), ("dog", "gav"), ("pig", "hru")))
d

{'cat': 'miao', 'dog': 'gav', 'pig': 'hru'}

Далее можно взять значение по ключу

In [ ]:
d['cat']

'miao'

In [ ]:
d.get('cat')

'miao'

Если элемента по запрашиваемому ключу не оказалось, сгенерируется исключение ```KeyError```.

In [ ]:
d['cow']

KeyError: ignored

Чтобы ошибки не возникало, можно установить значение по умолчанию, которое возвращается, если запрашиваемого ключа в словаре нет.

In [ ]:
d.get('cow', '')

''

У словаря можно получить ключи, значения и список пар ключ-значение.\
Чтобы привести к типу списка, нужно воспользовать list(...).

In [ ]:
d.keys() # ключи

dict_keys(['cat', 'dog', 'pig'])

In [ ]:
d.values() # значения

dict_values(['miao', 'gav', 'hru'])

In [ ]:
d.items() # ключ-значение

dict_items([('cat', 'miao'), ('dog', 'gav'), ('pig', 'hru')])

Как добавить новый элемент к словарю?

In [ ]:
d['horse'] = 'igogo'
d

{'cat': 'miao', 'dog': 'gav', 'pig': 'hru', 'horse': 'igogo'}

Если данный ключ в словаре существовал, то значение по ключу перезапишется.

In [ ]:
d['horse'] = 'igogogo'
d

{'cat': 'miao', 'dog': 'gav', 'pig': 'hru', 'horse': 'igogogo'}

#### Итерация по словарю

In [ ]:
for animal in d: # for key in d - по ключам
    print(animal, ':', d[animal])

cat : miao
dog : gav
pig : hru
horse : igogogo

In [ ]:
for animal, voice in d.items(): # for key, value in d.items() - по паре (ключ, значение)
    print(animal, ':', voice)

cat : miao
dog : gav
pig : hru
horse : igogogo

#### defaultdict

В стандартной библиотеке ```collections``` есть тип ```defaultdict``` - словарь, у которого по любому ключу изначально лежит некоторое значение по умолчанию (то есть не надо делать ```d.get(key, 0)``` во избежание ```KeyError```).\
По умолчанию для списков возвращается $[]$, для int - 0 и тд.

In [ ]:
from collections import defaultdict

d = defaultdict(list)
d['key'], d['key_1'], d['key_2']

([], [], [])

#### OrderedDict

Обычный словарь ```dict``` был разработан для быстрых операций добавления, извлечения и обновления данных.\
Класс ```collections.OrderedDict()``` был разработан для частыx операций переупорядочивания. Эффективность использования памяти, скорость итераций и производительность операций обновления были второстепенными.\
Алгоритмически ```collections.OrderedDict()``` может обрабатывать частые операции переупорядочения лучше, чем обычный словарь ```dict```.

In [ ]:
from collections import OrderedDict

d = OrderedDict([('cat', 'miao'), ('dog', 'gav'), ('pig', 'hru'), ('horse', 'igogo')])
d

OrderedDict([('cat', 'miao'),
             ('dog', 'gav'),
             ('pig', 'hru'),
             ('horse', 'igogo')])

In [ ]:
# возвращает последний элемент (он не является случайным, поскольку есть упорядоченность)
# для обычного словаря порядок не задается
d.popitem(), d

(('horse', 'igogo'),
 OrderedDict([('cat', 'miao'), ('dog', 'gav'), ('pig', 'hru')]))

In [ ]:
d.move_to_end('cat', last=True)
d # перемещаем элемент в конец словаря

OrderedDict([('dog', 'gav'), ('pig', 'hru'), ('cat', 'miao')])

In [ ]:
d.move_to_end('pig', last=False)
d # перемещаем элемент в начало словаря

OrderedDict([('pig', 'hru'), ('dog', 'gav'), ('cat', 'miao')])

Кроме того, проверка на равенство упорядоченных словарей происходит с учетом порядка пар ключ/значение.

### Множества <a class="anchor" id="sets"></a>

```Важно: ``` Множества в python – изменяемый тип данных!

Важное преимущество множеств заключается в том, что в лучшем случае поиск по множеству занимает О(1) времени! В худшем случае, O(n) - где n - количество элементов во множестве.

In [ ]:
s = [1, 2, 3, 3, 4, 5, 6, 6, 6, 7, 8, 8, 9, 9]
s = set(s) 
s, id(s), len(s) # Все элементы множества уникальны

({1, 2, 3, 4, 5, 6, 7, 8, 9}, 139932622090560, 9)

In [ ]:
s.add(10) # добавить элемент во множество
s, id(s)

({1, 2, 3, 4, 5, 6, 7, 8, 9, 10}, 139932622090560)

In [ ]:
s.remove(10) # удалить элемент из множества
s, id(s)

({1, 2, 3, 4, 5, 6, 7, 8, 9}, 139932622090560)

In [ ]:
3 in s # проверить наличие элемента во множестве

True

In [ ]:
10 not in s # проверить отсутствие элемента во множестве

True

#### Неизменяемые множества

In [ ]:
s = frozenset([1, 2, 3, 4, 5])
s

frozenset({1, 2, 3, 4, 5})

In [ ]:
s.add(6) # к неизменяемому множеству нельзя добавить элемент (удалить элемент из него тоже нельзя)

AttributeError: ignored

#### Операции с множествами

In [ ]:
s1 = set([i for i in range(5, 20)])
s2 = set([i for i in range(10, 25)])

$A \cap B$

In [ ]:
s1.intersection(s2), s1 & s2 # пересечение

({10, 11, 12, 13, 14, 15, 16, 17, 18, 19},
 {10, 11, 12, 13, 14, 15, 16, 17, 18, 19})

$A \cup B$

In [ ]:
s1.union(s2), s1 | s2 # объединение

({5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24},
 {5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24})

$A \setminus B$

In [ ]:
s1.difference(s2), s1 - s2 # разность

({5, 6, 7, 8, 9}, {5, 6, 7, 8, 9})

**pop**

In [ ]:
print('popped elem: ', s1.pop()) # удаление и возвращение элемента 
# (не можем утверждать, какой именно элемент будет возвращен, поскольку множество – неупорядоченная структура данных)
s1

popped elem:  5

{6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

**remove**

In [ ]:
s1.remove(6) # удаление элемента из множества
s1

{7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [ ]:
# при попытке удалить элемент, которого нет во множестве, возникает исключение
s1.remove(21)

KeyError: ignored

**discard**

In [ ]:
s1.discard(7) # удаление элемента из множества
s1

{8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [ ]:
# при попытке удалить элемент, которого нет во множестве, не возникает исключения
s1.discard(21)

**clear**

In [ ]:
s1.clear() # удаление всех элементов множества
s1

set()

**итерация по множеству**

По множеству можно итерироваться так же, как и по другим итерируемым типам данных.

In [ ]:
a = {4, 3, 1}
for elem in a: # порядок эдементов во множестве не зафиксирован, поэтому они будут выданы в некотором случайном порядке
    print(elem, end=' ')

1 3 4

### Логический тип <a class="anchor" id="bools"></a>

```Важно: ``` Логический тип в python – неизменяемый тип данных!

У логического типа есть 2 значения:
* True - любое значение, отличное от 0.
* False - 0.

In [ ]:
True, False

(True, False)

In [ ]:
int(False)

0

In [ ]:
int(True)

1

In [ ]:
# 0 конвертируется в False
bool(0)

False

In [ ]:
# любое другое число конвертируется в True
bool(-1), bool(256), bool(1), bool(33)

(True, True, True, True)

К значениям логического типа можно применять битовые операции.

In [ ]:
x = True
x, ~x, x << 2, x >> 2

(True, -2, 4, 0)

In [ ]:
y = False
x, y, x & y, x | y, x ^ y

(True, False, False, True, True)

Можно сравнивать элементы разных типов (строки, числа, списки) на равенство, неравенство. В результате будет получаться значение булева типа.

In [ ]:
i1 = 5
i2 = 7
i1 == i2, i1 != i2, i1 < i2, i1 <= i2, i1 > i2, i1 >= i2

(False, True, True, True, False, False)

In [ ]:
s1 = "123"
s2 = "12"
s1 == s2, s1 != s2, s1 < s2, s1 <= s2, s1 > s2, s1 >= s2

(False, True, False, False, True, True)

In [ ]:
l1 = [1, 2, 3]
l2 = [1, 2]
l1 == l2, l1 != l2, l1 < l2, l1 <= l2, l1 > l2, l1 >= l2

(False, True, False, False, True, True)

## Конструкции <a class="anchor" id="constructions"></a>

## Циклы  <a class="anchor" id="cycles"></a>

#### Цикл for

Обратим внимание на отступы. Они очень важны в языке питон и означают начало некоторой конструкции (функция, цикл и т.д.).\
Отступ - это tab или несколько пробелов (обычно 4).

Можно итерироваться (проходить циклом) по итерируемому объекту, например, списку, как в примере.

In [ ]:
for i in [1, 2, 3]:
    print(i)

1
2
3

In [ ]:
for i in range(1, 6, 2):
    print(i)

1
3
5

In [ ]:
print([i for i in range(1, 6, 2)])

[1, 3, 5]

Кроме того, после цикла for может идти else-конструкция (зайдем в нее, если выход из цикла не по break).

In [ ]:
for i in range(3):
    print(i)
else:
    print('end of cycle') # выполняется при выходе из цикла

0
1
2
end of cycle

Также полезными являются операторы continue и break, которые обозначают переход на новую итерацию цикла и досрочное окончание цикла соответственно.

In [ ]:
for i in range(5):
    if i < 3:
        continue
    elif i == 3:
        print(i)
    else:
        break
else:
    print('end of cycle') # сюда не зашли, потому что выход из цикла по break

3

#### Цикл while

In [ ]:
i = -1
while True:
    i += 1
    if i == 2:
        continue
    print(i)
    if i == 5:
        break

0
1
3
4
5

Тут тоже есть аналогичная с for конструкция else.

In [ ]:
i = -1
while i < 3:
    i += 1
else:
    print('end of cycle')

end of cycle

In [ ]:
i = -1
while True:
    i += 1
    if i == 3:
        break
else:
    print('end of cycle')

## Условия <a class="anchor" id="conditions"></a>

Существуют следующие условные конструкции: `if`, `if - else`, `if - elif - else`, смысл которых очевиден.

In [ ]:
i = 0
for j in range(3):
    if i == 0:
        i += 1
    elif i == 1:
        i += 2
    else:
        print(i)

3

## Функции <a class="anchor" id="functions"></a>

Объявляются с помощью ключевого слова ```def```. Результат возвращается с помощью ключевого слова ```return```. После строки, содержащей слово ```def```, аргументы и название функции, должен следовать отступ.

In [ ]:
def f(x):
    return x + 2
f(3)

5

Функция может возращать любое количество значений разных типов - эти значения автоматически сформируют кортеж.

In [ ]:
def f(x):
    return x + 2, x, {"value":x}
f(3)

(5, 3, {'value': 3})

Очень важным и удобным свойством функций является то, что можно указывать значения по умолчанию для параметров функции. Но при этом, сначала нужно указывать все параметры без значений по умолчанию, а потом только со значениями по умолчанию.

In [ ]:
def f(x, y=2, z=3):
    return x + y + z
f(3), f(3, 4), f(3, 4, 5)

(8, 10, 12)

In [ ]:
f() # нужно указать как минимум 1 аргумент

TypeError: ignored

In [ ]:
f(x=3, y=3, z=3) # так тоже можно обратиться

9

In [ ]:
f(x=1, 2, z=3)# а так вызвать функцию нельзя

SyntaxError: ignored

Объявить функцию, у которой сначала бы шли аргументы со значениями по умолчанию, а потом без, также нельзя.

In [ ]:
def f(x=1, y, z=3):
    return x + y + z

SyntaxError: ignored

```Интересный факт```: функции в Python - это тоже объект! Это можно понять, взяв от функции id.

In [ ]:
f, id(f)

(<function __main__.f(x, y=2, z=3)>, 139932550219968)

**Подача аргументов в функцию с помощью списков/словарей**

В функцию можно передавать именованные/неименованные аргументы с использованием списков/словарей (конструкции `*args`, `**kwargs`).

In [ ]:
def f(x, y, z):
    return x, y, z

In [ ]:
args = [1, 2, 3]
f(*args) # происходит разыменование списка (по порядку следования аргументов)

(1, 2, 3)

In [ ]:
args = [1, 2]
f(*args) # недостаточно аргументов

TypeError: ignored

In [ ]:
kwargs = {'x': 1, 'y': 2, 'z': 3}
f(**kwargs) # словарь раскрывается и аргументы помещаются на соответствующие ключам в словаре позиции

(1, 2, 3)

In [ ]:
kwargs = {'x': 1, 'y': 2, 'z': 3, 'w': 4}
f(**kwargs) # подали лишний аргумент

TypeError: ignored

### lambda-функции <a class="anchor" id="lambdas"></a>

Неименованные функции, написанные в одну строку со следующим синтаксисом.

In [ ]:
g = lambda x: x + 2
g(3)

5

```lambda```-функции тоже могут возвращать несколько значений, но для этого их нужно взять в $()$ - то есть сформировать ```tuple``` (кортеж).

In [ ]:
g = lambda x: (x + 2, x)
g(3)

(5, 3)

```lambda```-функции могут принимать несколько аргументов.

In [ ]:
g = lambda x, y: (x + y, x, y)
g(1, 2)

(3, 1, 2)

```lambda```-функции могут не принимать аргументов вообще.

In [ ]:
g = lambda: print('call g')
g()

call g

```lambda```-функции могут быть особенно полезны для передачи в качестве аргумента в некоторые встроенные функции, как, например, ```sorted```.

In [ ]:
lst = [("c", 3), ("a", 1), ("b", 2)]

In [ ]:
sorted(lst, key=lambda x: x[0]) # сортируем по первому элементу кортежа

[('a', 1), ('b', 2), ('c', 3)]

In [ ]:
sorted(lst, key=lambda x: -x[1]) # сортируем по второму элементу кортежа по убыванию

[('c', 3), ('b', 2), ('a', 1)]

### Области видимости <a class="anchor" id="areas"></a>

Рассмотрим некоторую функцию ```f```.

In [ ]:
a = 'global a'
def f():
    c = 'local c'
    print(f'{a}, {c}')
    return
f()

global a, local c

Из этой функции нам доступна переменная ```a``` из глобальной области видимости, а также локальная переменная ```c```.

Если в функции ```f``` объявить локальную переменную ```a```, то она закроет глобальную переменную ```a``` и глобальная переменная станет недоступна из этой функции.

In [ ]:
a = 'global a'
def f():
    c = 'local c'
    a = 'local a'
    print(f'{a}, {c}')
    return
f()

local a, local c

А что, если мы хотим изменять глобальную переменную из функции ```f```?
Если в функции ```f``` попробовать сделать inplace-операцию над глобальной переменной, то пробросится исключение. Это произойдет, потому что в левой части выражения мы объявляем локальную переменную, которая перекрывает глобальную, а в правой части выражения обращаемся к локальной переменной, которая не была проиницализирована.

In [ ]:
a = 'global a'
def f():
    a += '?'
    print(a)
    return
f()

UnboundLocalError: ignored

Чтобы такого не случилось, нужно объявить переменную ```a``` внутри функции ```f``` с использованием идентификатора ```global```. Тогда интерпретатору будет понятно, что ```f``` обращается к переменной ```a``` из глобальной области видимости.\
При этом, имена, перечисленные в инструкции ```global```, не обязательно должны использоваться в блоке кода, текстуально предшествующем ```global```.

In [ ]:
a = 'global a'
def f():
    global a, b
    a += '!'
    print(a)
    print(b)
    return
b = 'global b'
f()

global a!
global b

Поскольку функция в python – это объект, то ее вполне можно определить внутри другой функции. Например, вот так:

In [ ]:
a = 'global a'
def f():
    b = 'b from f'
    def f1():
        c = 'c from f1'
        print(f'{a}, {b}, {c}')
        return 13
    return f1
f(), f()()

global a, b from f, c from f1

(<function __main__.f.<locals>.f1()>, 13)

Это называется замыкание. Из функции ```f1``` на чтение видны как локальные переменные функции ```f```, так и глобальные переменные. Чтобы указать, что используемая переменная находится во внешнем, но не глобальном поле имен, используется идентификатор ```nonlocal```.

In [ ]:
# в этой ситуации, на самом деле, так бы сработало и без указания nonlocal, тк область видимости f перекрывает глобальную область видимости внутри f1
a = 'global a'
def f():
    a = 'a from f'
    def f1():
        nonlocal a
        print(f'{a}')
        return 13
    return f1
f(), f()()

a from f

(<function __main__.f.<locals>.f1()>, 13)

При этом в отличие от ```global```, имена, перечисленные в инструкции ```nonlocal```, должны ссылаться на ранее существовавшие переменные в охватывающей области. То есть при использовании оператора ```nonlocal```, переменные родительской функции должны существовать, а для global такое условие не обязательно должно выполняться (переменная может быть объявлена позже, в некоторой новой области видимости).

In [ ]:
a = 'global a'
def f():
    a = 'a from f'
    def f1():
        nonlocal a, b # переменная b не объявлена в функции f
        print(f'{a}')
        #print(f'{b}')
        return 13
    return f1
f(), f()()

SyntaxError: ignored

In [ ]:
a = 'global a'
def f():
    a = 'a from f'
    global new_variable_with_strange_name # эта переменной не была объявлена пока что нигде и все работает
    def f1():
        return 13
    return f1
f(), f()()

(<function __main__.f.<locals>.f1()>, 13)

Таким образом, идентификаторы ```global``` и ```nonlocal``` дают указание интерпретатору на то, что в функции внешние переменные видны не только для чтения, но и для изменения.

In [ ]:
a = 'global a'
def f():
    a = 'a from f'
    def f1():
        nonlocal a
        a += ' changed inside f1()'
        print(f'{a}')
        return 13
    return f1
f(), f()()

a from f changed inside f1()

(<function __main__.f.<locals>.f1()>, 13)

### Генераторы <a class="anchor" id="generators"></a>

Ранее в ноутбуке был затронут генератор ```range(...)```.\
Подробно обсуждать генераторы сейчас не будем, но узнать, что такое генератор будет полезно для домашнего задания.

Генератор – это специальная функция, в которой присутствует ключевое слово ```yield``` (вместо ```return```). Генераторы нужны для того, чтобы создавать итераторы. При вызове, встретив ключевое слово ```yield```, функция возвращает значение, идущее после ```yield```, но выполняется до конца и сохраняет текущие значения локальных переменных функции.\
Рассмотрим на примере функции, которая генерирует n первых чисел Фибоначчи.

In [ ]:
def fib(n):
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a + b

In [ ]:
print([i for i in fib(13)], sep=' ')

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

In [ ]:
list([i for i in fib(13)])

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

## Классы (ООП) <a class="anchor" id="classes"></a>

Синтаксис простой, с отступами все обстоит так же, как и в функциях.\
Кроме того, для класса нужно переопределять метод ```__init__``` – в котором будут инициализироваться атрибуты класса. Каждый метод должен принимать в качестве аргумента ```self``` – ссылку на себя (как в с++, к примеру, аргументом каждого нестатического метода неявно является ```this```).

In [ ]:
class StudyPython:
    def __init__(self, lists, strs, tuples):
        # имена с self - внутренние переменные, которые будут доступны внутри любых методов класса через self
        # а также будут доступны через . у объектов класса
        self.lists = lists
        self.strs = strs
        self.tuples = tuples
        # self._hidden # можно создать protected атрибут (начинается с _) - к нему можно обращаться только внутри класса и во всех его дочерних классах
        # self.__hidden # можно создать private атрибут начинается с __) - к нему можно обращаться только внутри класса
        
    def __repr__(self):
        return f'I already know lists: {str(self.lists)}, strs: {str(self.strs)}, tuples: {str(self.tuples)}'
    
    def learn_lists(self):
        if not self.lists:
            self.lists = True
        else:
            print('I already know lists')
        
    def learn_strs(self):
        if not self.strs:
            self.strs = True
        else:
            print('I already know strs')
        
    def learn_tuples(self):
        if not self.tuples:
            self.tuples = True
        else:
            print('I already know tuples')
    
    def forget_lists(self):
        if self.lists:
            self.lists = False
        else:
            print('I do not know lists. I cannot forget them.')
        
    def forget_strs(self):
        if self.strs:
            self.strs = False
        else:
            print('I do not know strs. I cannot forget them.')
        
    def forget_tuples(self):
        if self.tuples:
            self.tuples = False
        else:
            print('I do not know tuples. I cannot forget them.')

In [ ]:
s = StudyPython(lists=False, strs=False, tuples=False)
s

I already know lists: False, strs: False, tuples: False

In [ ]:
s.learn_tuples()
s

I already know lists: False, strs: False, tuples: True

In [ ]:
s.learn_lists()
s

I already know lists: True, strs: False, tuples: True

In [ ]:
s.forget_lists()
s

I already know lists: False, strs: False, tuples: True

In [ ]:
s.forget_lists()
s

I do not know lists. I cannot forget them.

I already know lists: False, strs: False, tuples: True

In [ ]:
s.learn_tuples()
s

I already know tuples

I already know lists: False, strs: False, tuples: True

```Интересный факт```: Если в методе ```__init__``` требуется только инициализировать атрибуты, то можно использовать декоратор ```dataclass``` из библиотеки ```dataclasses```.\
Декоратор - это функция, которая производит некоторые преобразования с функцией. Синтаксис такой: над преобразуемой функцией указывается название декоратора через @.\
Небольшой пример (подробнее лучше почитать самостоятельно, но для выполнения домашнего задания это не обязательно).

In [ ]:
def change_text(fn):
    def wrapped():
        return '!!!' + fn().upper() + '!!!'
    return wrapped

@change_text
def hello():
    return "I love machine learning"

In [ ]:
hello()

'!!!I LOVE MACHINE LEARNING!!!'

Пример на легкую инициализацию членов класса (без переопределения ```__init__```).

In [ ]:
from dataclasses import dataclass

@dataclass
class StudyPython:
    lists: bool
    strs: bool
    tuples: bool
    
    def __repr__(self): # переопределяем метод print
        return f'I already know lists: {str(self.lists)}, strs: {str(self.strs)}, tuples: {str(self.tuples)}'

In [ ]:
s = StudyPython(lists=False, strs=True, tuples=False)
s

I already know lists: False, strs: True, tuples: False

Для выполнения одной из задач домашнего задания следует подробнее почитать про декоратор ```@property```.

```Интересный факт```: Все классы в Python наследуются от класса ```object```. Это можно указывать, либо не указывать при создании класса. Эффект будет одинаковый.

**Стандартные методы классов (их нужно переопределять, чтобы работали)**

Для того, чтобы с новым классом работал ряд некоторых стандартных операций у классов можно переопределить соответствующие методы. Рассмотрим на примере некоторых знаков математических операций, однако таких операций больше и при желании нужные можно нагуглить :)

In [ ]:
class A:
    def __init__(self, elem):
        print('__init__')
        self.elem = elem
    
    def __call__(self): # a()
        print('__call__')
        return self.elem
    
    def __gt__(self, x): # a > 3
        print('__gt__')
        return self.elem > x
    
    def __lt__(self, x): # a < 3
        print('__lt__')
        return self.elem < x
    
    def __le__(self, x): # a <= 3
        print('__le__')
        return self.elem <= x
    
    def __ge__(self, x): # a >= 3
        print('__ge__')
        return self.elem >= x
    
    def __eq__(self, x): # a == 3
        print('__eq__')
        return self.elem == x
    
    def __ne__(self, x): # a != 3
        print('__ne__')
        return self.elem != x
    
    def __add__(self, x): # a + x
        print('__add__')
        self.elem += x
        return self.elem
    
    def __sub__(self, x): # a - x
        print('__sub__')
        self.elem -= x
        return self.elem

In [ ]:
a = A(13)
a()
a > 3
a < 3
a <= 3
a >= 3
a == 3
a != 3
a + 3
a - 3

__init__
__call__
__gt__
__lt__
__le__
__ge__
__eq__
__ne__
__add__
__sub__

13

### Может пригодиться

Функция ```print```, как уже понятно, печатает на экран некоторый текст.\
Для того, чтобы считать текст со стандартного потока ввода, используется функция ```input()```.

Пример работы с файлами:
* Без использования контекстного менеджера:

In [ ]:
!touch file.txt # в jupyter notebook с помощью ! вызываются команды bash

In [ ]:
!echo "Hello world" >> file.txt

In [ ]:
# флаг "r" - read/чтение, 
# "w" - write/запись (сотрет все содержимое файла и запишет туда что-то новое), 
# "a" - append/запись в конец
f = open("file.txt", "r")
print(f.readlines())
f.close()

['Hello world\n']

In [ ]:
f = open("file.txt", "a")
f.write("I love machine learning")
f.close() # пока не закроем файл, изменение не отобразится
f1 = open("file.txt", "r")
print(f1.readlines())
f1.close()

['Hello world\n', 'I love machine learning']

In [ ]:
f = open("file.txt", "a")
f.write("I love machine learning")
f1 = open("file.txt", "r")
print(f1.readlines()) # потому что файл f не закрыли до открытия файла f1
f1.close()
f.close()

['Hello world\n', 'I love machine learning']

* С использованием контекстного менеджера:

In [ ]:
with open("file.txt", "r") as f: # флаги такие же
    print(f.readlines())

['Hello world\n', 'I love machine learningI love machine learning']

## Домашнее задание <a class="anchor" id="hometask"></a>

```Внимание!!!```

**Первые 5 задач отправляются в систему в одном файле task15.py.\
Задачи 6 и 7 отправляются в систему отдельно: task6.py, task7.py.**

### Задача № 1 <a class="anchor" id="task1"></a>

Требуется написать функцию, которая принимает 1 параметр, равный по умолчанию ```None```. Если в качестве этого параметра передается пустая строка или функция вызывается без аргументов, вернуть строку ```"Hello!"```, иначе, ```"Hello, name!"```, где name - аргумент функции.

In [ ]:
def hello(s=None):
    pass

```Пример 1:```

> **вызов**: hello()

> **вывод**: Hello!

```Пример 2:```

> **вызов**: hello('world')

> **вывод**: Hello, world!

```Пример 3:```

> **вызов**: hello('Masha')

> **вывод**: Hello, Masha!

In [ ]:
assert hello() == "Hello!"
assert hello('world') == "Hello, world!"
assert hello('Masha') == 'Hello, Masha!'

### Задача № 2 <a class="anchor" id="task2"></a>

Требуется написать функцию ```int_to_roman(x)```, которая принимает целое неотрицательное число, записанное арабскими цифрами, и конвертирует его в такое же число, записанное римскими цифрами.

**Немного о переводе арабских чисел в формат римских:**

2 записывается как II, то есть две единицы складываются вместе.\
12 записывается как XII, что означает 10 + 2 или X + II.\
27 записывается как XXVII, то есть 20 + 5 + 2 или XX + V + II.

Римские цифры записывают от наибольшего к наименьшему слева направо. Однако цифра, обозначающая четыре, не записывается как IIII. Вместо этого число 4 записывается как IV. Поскольку единица стоит перед пятеркой, мы вычитаем ее, получая четыре.\
Тот же принцип применим и к числу девять, которое записывается как IX. Существует шесть случаев, когда используется вычитание:

```Полезные правила:```

I помещается перед V (5) и X (10), чтобы сделать 4 и 9.\
X помещается перед L (50) и C (100), чтобы получить 40 и 90.\
C помещается перед D (500) и M (1000), чтобы получить 400 и 900.

In [ ]:
def int_to_roman(x):
  pass

```Пример 1:```

> **вызов**: int_to_roman(3)

> **вывод**: III

```Пример 2:```

> **вызов**: int_to_roman(54)

> **вывод**: LIV

```Пример 3:```

> **вызов**: int_to_roman(1996)

> **вывод**: MCMXCVI

In [ ]:
assert int_to_roman(3) == 'III'
assert int_to_roman(54) == 'LIV'
assert int_to_roman(1996) == 'MCMXCVI'

### Задача № 3 <a class="anchor" id="task3"></a>

Требуется написать функцию ```longest_common_prefix(x)```, которая принимает список строк и возвращает наибольший общий префикс всех строк из списка.\
Пробельные символы в начале строки не учитывать. Изменять входной список нельзя (копию входного списка менять можно).

Если такого префикса нет – вернуть пустую строку. Если на вход поступает пустой список, то следует вернуть пустую строку.

```Пример 1:```

> **вызов**: longest_common_prefix(["dog","racecar","car"])

> **вывод**: ''

```Пример 2:```

> **вызов**: longest_common_prefix(["flower","flow","flight"])

> **вывод**: fl

```Пример 3:```

> **вызов**: longest_common_prefix(["  ML;", "\t\t\tML", "\n  \tML"])

> **вывод**: ML

```Пример 4:```

> **вызов**: longest_common_prefix([])

> **вывод**: ""

In [ ]:
assert longest_common_prefix(["dog","racecar","car"]) == ''
assert longest_common_prefix(["flower","flow","flight"]) == 'fl'
assert longest_common_prefix([" ML;", "\t\t\tML", "\n \tML"]) == 'ML'
assert longest_common_prefix([]) == ''

### Задача № 4 <a class="anchor" id="task4"></a>

Исключения в Python генерируются с помощью ключевого слова ```raise```.\
Чтобы поймать исключение (в задании не нужно) используется конструкция ```try```-```except```.\
Пример:

In [ ]:
10 / 0

ZeroDivisionError: division by zero

In [ ]:
try:
    10 / 0
except: # except ZeroDivisionError
    print('Division by zero detected')

Division by zero detected

In [ ]:
def f(a):
    if not a:
        raise ValueError

In [ ]:
try:
    f(0)
except ValueError:
    print("a = 0")

a = 0

У студента есть кредитная карта банка, на который лежат деньги в долларах.\
Требуется реализовать класс BankCard со следующим интерфейсом:

```Интерфейс класса:```
```python
class BankCard:
    def __init__(self, total_sum):
        pass
    ...
```
```Пример использования:```
```python
a = BankCard(total_sum, balance_limit) # total_sum – общая сумма денег на карте у студента в начальный момент времени, balance_limit - максимальное количество раз, которое можно посмотреть баланс (если не задано, то нет ограничений; может быть только натуральным числом)
a(sum_spent) # sum_spent – сумма, которую студент хочет потратить; при таком обращении sum_spent вычитается из текущей total_sum; если такой суммы на карте нет, требуется бросить исключение ValueError и напечатать "Can't spend sum_spent dollars". Если попытка снятия денег была успешной, следует написать: You spent sum_spent dollars.
print(a) # при вызове функции print от объекта класса должно выводиться следующее сообщение "To learn the balance call balance."
a.balance # при таком вызове количество вызовов баланса карты должно увеличиваться на 1, а возвращаться должна total_sum; если лимит операций по количеству просмотров баланса превышен, требуется бросить исключение ValueError и напечатать "Balance check limits exceeded."
a.put(sum_put) # положить sum_put долларов на карту; также следует написать: You put sum_put dollars.
b = BankCard(total_sum_1)
a + b # мердж капиталов :) должен возвращаться объект класса BankCard, в котором сложены балансы, а из balance_limit выбирается максимум
```

```Пример 1 (после знака # указан ожидаемый вывод):```

```python
    a = BankCard(10, 2)
    print(a.balance) # 10
    print(a.balance_limit) # 1
    a(5) # You spent 5 dollars.
    print(a.total_sum) # 5
    print(a) # To learn the balance call balance.
    print(a.balance) # 5
    try:
        a(6) # Not enough money to spent 6 dollars.
    except ValueError:
        pass
    a(5) # You spent 5 dollars.
    try:
        a.balance # Balance check limits exceeded.
    except ValueError:
        pass
    a.put(2) # You put 2 dollars.
    print(a.total_sum) # 2
 ```

### Задача № 5 <a class="anchor" id="task5"></a>

Целое положительное число называется простым, если оно имеет ровно два различных делителя, то есть делится только на единицу и на само себя.
Например, число 2 является простым, так как делится только на 1 и 2. Также простыми являются, например, числа 3, 5, 31, и еще бесконечно много чисел.
Число 4, например, не является простым, так как имеет три делителя – 1, 2, 4. Также простым не является число 1, так как оно имеет ровно один делитель – 1.

Требуется реализовать **функцию-генератор** ```primes()```, которая будет генерировать простые числа в порядке возрастания, начиная с числа 2.

In [ ]:
def primes():
    pass

```Пример 1 (после знака # указан ожидаемый вывод):```
```python
for i in primes():
    print(i)
    if i > 5:
        break

# 2
# 3
# 5
# 7
```
```Пример 2 (после знака # указан ожидаемый вывод):```
```python
print(list(itertools.takewhile(lambda x : x <= 31, primes())))
# [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31]
```

In [ ]:
import itertools
assert list(itertools.takewhile(lambda x : x <= 31, primes())) == [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31]
assert [i for i in primes() if i <= 5]

### Задача № 6 <a class="anchor" id="task6"></a>

Когда студент прочитал учебник по линейной алгебре и аналитической геометрии, ему стало интересно, сколько слов и в каком количестве встречается в этой книге.

Требуется написать функцию ```check(s, filename)```, которая принимает на вход строку – последовательность слов, разделенных пробелом и имя файла; слова состоят из строчных и прописных букв латинского алфавита, а разделяются пробельными символами (ввод считать корректным). Функция должна вывести в файл для каждого уникального слова в этой строке число его повторений (без учёта регистра) в формате "слово количество" (см. пример вывода). Гарантируется, что строка содержит минимум 1 слово.

Слова выводить нужно по алфавиту, каждое уникальное слово должно выводиться только один раз.

In [ ]:
def check(s, filename):
    pass

```Пример 1: ```
> **вызов**: check("a aa abC aa ac abc bcd a", "file.txt")

> **file.txt**: 

    a 2
    aa 2
    abc 2
    ac 1
    bcd 1
    
```Пример 2: ```
> **вызов**: check("a A a", "file.txt")

> **file.txt**: 

    a 3

In [ ]:
check("a aa abC aa ac abc bcd a", "file.txt")
f = open("file.txt", "r")
assert f.readlines() == ["a 2\n", "aa 2\n", "abc 2\n", "ac 1\n", "bcd 1\n"]
f.close()

check("a A a", "file.txt")
f = open("file.txt", "r")
assert f.readlines() == ["a 3"]
f.close()

### Задача № 7 <a class="anchor" id="task7"></a>

Это задание – **конкурс**! Его цель заключается в том, чтобы написать как можно более короткое (по количеству символам) решение задачи.

Дана строка, состоящая из символов ASCII. Словом называется комбинация из букв латинского алфавита (строчных и заглавных). Требуется найти длину самого короткого слова в строке.

```Пример 1:```

> **вызов**: "askdhrfef8wej9013d,kdj;12oid3fjvn23"

> **вывод**: 1

```Пример 2:```

> **вызов**: "ad2aaaaa,,bsc"

> **вывод**: 2

```Пример 3:```

> **вызов**: "111"

> **вывод**: 0

In [ ]:
def find_shortest(l):
    pass

In [ ]:
assert find_shortest(";123assdcdcef092101,3131313akdmkmedkfmwekfwe") == 9
assert find_shortest('tr9230847;;;;1;;;++++_______abbbbbbc') == 2
assert find_shortest("askdhrfef8wej9013d,kdj;12oid3fjvn23") == 1
assert find_shortest('9230847;;;;1;;;++++_______a') == 1
assert find_shortest('жж1ciwoeiworiworworow') == 18
assert find_shortest("aslkdjfhkssdf") == 13
assert find_shortest("ad2aaaaa,,bsc") == 2
assert find_shortest('12i330232l') == 1
assert find_shortest("111") == 0
assert find_shortest("+_*") == 0
assert find_shortest("") == 0

```Заключение```:  Если вдруг вы нашли какие-то опечатки/смысловые ошибки, то скорее сообщайте об этом ассистентам курса!\
Очень надеемся, что этот ноутбук поможет познать основы Python и вы к нему будете неоднократно возвращаться в поисках полезной информации.